body {
    background-color: #F9FAFC;
    font-family: "Junge", cursive;
    font-weight: 400;
    font-style: normal;
}

.hvr-underline-from-center{
    border-bottom:#0A419F;
    color: #FF4850;
}
.dark-blue{
    color:#0A419F
}
.logged-in-user{
    color: #0A419F;
}

.not-logged-in{
    color: #FF4850;
}

.navbar-light .navbar-nav .nav-link{
    color: #0A419F;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #FF4850;
}
.dropdown-item:focus, .dropdown-item:hover{
    color: #0A419F;
    background-color: #fafafa;
}
.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #0A419F;
}

.main-bg {
    background-color: #fafafa;
}

#book-form,
#author-form,
#category-form{
    border:1px solid #0A419F;
    padding: 1rem;
}
#book-form div,
#author-form div,
#category-form div{
    text-align: left;
}
.sign-in-up{
    border:1px solid #0A419F;
    border-radius: 10px;
    padding: 1rem;
}

.image-container {
    position: relative;
}

.section-img-container{
    padding: 1% .5rem;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}
.slide-img{
    height: 550px
}

.carousel-caption{
    bottom: 20%;
    background-color:rgb(10,65,159, 0.8);
}
.book-writer {
    color: #0A419F;
    text-align: center;
    margin: 4px;
    text-transform: uppercase;
}
.book-link{
    color: #FF4850;
    text-decoration: none;
}
.card-text{
    overflow:hidden;
    height:250px
}
.btn-primary{
    background-color: #0A419F;
    color: #fafafa;
}
.btn-primary:hover{
    background-color: #FF4850;
    border: 1px solid #0A419F;
}
.h-divider{
    width: 50%;
    height: 5px !important;
    margin: 5px auto;
    opacity: .80;
    border-radius: 10px;
    background-color: #FF4850;
    margin-bottom: 5px;
}

/* --------- Error Messages --------*/
 .dl, ol, ul {
    color:red;
 }

/* -- styling books gallery --*/
.suggest-btn{
    background-color: #0A419F;
    color: #fafafa;
}

.suggest-btn:hover{
    background-color: #FF4850;
    color: #fafafa;
    border-color: #0A419F;
}

.card{
    border: 2px solid #0A419F;
    border-radius: 5px;
    padding: 2px;
    height: 100%
}

.card img{
    height: auto;
    width: 100%;
    object-fit: cover;
}

.book-gallery{
    text-align: center;
    color: #0A419F;
    size: 2rem;
}

.book-user{
    color: #FF4850;
}

.book-cover-img,
.author-img{
    max-width: 100%;
    height:auto;
}


.bar-seprator{
    color: #0A419F;
}
/* -- styling book detail --*/
.text-justify{
    text-align: justify;
}
.lg-text{
    font-size: larger;
}

.book-reviews{
    color: #0A419F;
}

.book-likes{
    color: #FF4850;
}

.book-rating{
    color: rgb(236, 195, 11);
}

.post-link {
    margin: 10px;
    background-color: #0A419F;
    color: #fafafa;
}

.page-link {
    background-color: #0A419F;
    color: #fafafa;
}
.page-link:hover{
    background-color: #FF4850;
    border: 1px solid #0A419F;
    color: #fafafa;
}

.btn-signup,
.btn-edit {
    background-color: #0A419F;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #FF4850;
    color: #fafafa;
    border: 1px solid #0A419F;
}

.link {
    color: #FF4850;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #0A419F;
    text-decoration: underline;
}

.btn-like {
    color: #FF4850;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #FF4850;
}

.btn-like:hover,
.btn-like:active {
    color: #FF4850;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}


/* -- styling the form for sign up and sign in --*/
.form-title{
    text-align: center;
}

.signup, .login{
    border: 1px solid #0A419F;
}
.signup p, .login p {
    margin: 2px;
    padding: 2px;
    text-align: left;
}
.signup p label,
.login p label
{
    width: 135px;
}
.sign-in-up-text{
    margin-top: 40px;
}
.wait-approval{
    color: red;
}
.social-links{
    color:#fafafa
}