{% extends "root.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<!-- displaying Django messages -->
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show text-center" id="msg" role="alert">
                <p class="dark-blue">
                    {{ message | safe }}
                </p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container my-5 px-4 text-center ">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 my-3 p-2">
            <h2 class="dark-blue">{{ book.title }} <span class="bar-seprator">|</span> {{ book.writer }}</h2>
            <hr class="h-divider my-5">
        </div>
    </div>
    <div class="row  justify-content-between ">
        <div class="col-12 col-md-5 p-3 mb-2 text-justify">
            <h4 class="dark-blue">{{ book.title }} <span class="bar-seprator">|</span> Short Overview</h4>
            <p class="book-description">
                {{ book.short_description | safe }}
            </p>
            <h6 class="book-user">Added by: {{ book.user }} 
                <span class="bar-seprator">|</span>
                 on: {{ book.created_on }} </h6>
            <div class="my-3 p-3">
                <div class="row justify-content-center">
                    <div class="col-10 lg-text">
                        <span class="mx-1 px-1 book-reviews">
                            <i class="fa-solid fa-comments mx-2"></i>
                            {{ reviews_count }}
                        </span>
                        <span class="mx-1 px-1 book-likes"><i class="fa-solid fa-heart mx-2"></i>{{ likes }}</span>
                        <span class="mx-1 px-1 book-rating"><i class="fa-solid fa-star mx-2"></i>{{ ratings }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 p-3 mb-2">
            {% if "placeholder" in book.cover_img.url %}
            <img src="{% static 'images/default.jpg' %}" class="book-cover-img my-5" alt="{{ book.title }}">
            {% else %}
            <img src="{{ book.cover_img.url }}" class="book-cover-img  my-5" alt="{{ book.title }}">
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-between ">
        <div class="col-12 col-md-5 p-3 mb-2 text-justify">
            <h4 class="dark-blue">About {{ book.writer }}</h4>
            <p class="author-biography">{{ author_details.short_biography | safe }}</p>
            <h6 class="book-user">Added by: {{ author_details.user }} <span class="bar-seprator">|</span> 
                on: {{ author_details.created_on }} </h6>
        </div>
        <div class="col-12 col-md-5 p-3 mb-2">
            <img src="{{ author_details.author_image.url }}" class="author-img my-5" alt="{{ author_details.fullname }}">
        </div>
    </div>
    <hr class="h-divider">
    <div class="row justify-content-between my-5">
        <!-- showing comments -->
        <div class="col-12 col-md-5 p-1 mb-2 text-justify">
            <h3>Insights:</h3>
            <div class="insight-body">
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {% for review in reviews %}
                <div class="p-2 reviews
                    {% if not review.approved and review.author == user %}
                    faded{% elif not review.approved %} d-none{% endif %}">
                    <p class="font-weight-bold">
                        {{ review.author }}
                        <span class="font-weight-normal">
                            {{ review.created_on }}
                        </span> wrote:
                    </p>
                    <div id="review{{ review.id }}">
                        {{ review.insight | linebreaks }}
                    </div>
                    {% if not review.approved and review.author == user %}
                    <p class="wait-approval">
                        This review is awaiting approval
                    </p>
                    {% endif %}
                    {% if user.is_authenticated and review.author == user %}
                    <button class="btn btn-delete" review_id="{{ review.id }}">Delete</button>
                    <button class="btn btn-edit" review_id="{{ review.id }}">Edit</button>
                    {% endif %}
                    <hr>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-5 p-1 mb-2 text-justify">
            <h3>Share your thoughts</h3>
            <div class="review-form my-4 p-2">
                {% if user.is_authenticated %}
                <form id="reviewForm" action="" method="POST">
                    {% csrf_token %}
                    {{ userReview | crispy }}
                    <a href="{% url 'book_insight' book.slug %}"></a>
                    <button id="submitButton" value="Submit" class="btn btn-primary">Submit</button>
                </form>
                <hr>
                <div>
                   {% if not user_liked_book %}
                    <form id="likesForm" action="" method="POST">
                        {% csrf_token %}
                        {{ likes_form | crispy }}
                        <a href="{% url 'book_insight' book.slug %}"></a>
                        <button id="btn-likes"  value="Submit" class="btn btn-primary">Submit</button>
                    </form>  
                    {% else %}
                    <p>You have liked the book</p>
                    {% endif %}
                </div>
                <hr>
                <div>
                    {% if not user_has_rated %}
                    <form id="ratingForm" action="" method="POST">
                        {% csrf_token %}
                        {{ ratingForm | crispy }}
                        <a href="{% url 'book_insight' book.slug %}"></a>
                        <button id="btn-rating" class="btn btn-primary" value="Submit">Submit</button>
                    </form>
                    {% else %}
                    <p>You have liked the book</p>
                    {% endif %}
                </div>
                {% else %}
                <h3>Log in to share your thoughts</h3>
                <br>
                <a href="{% url 'account_login' %}" class="btn btn-primary btn-lg"></a>
                
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete Review?</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your Review?
        This action cannot be undone.
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extras %}
    <script src="{% static 'js/reviews.js' %}"></script>
    <script src="{% static 'js/books.js' %}"></script>
{% endblock %}