{% extends "root.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container my-5 px-4 text-center ">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 my-3 p-2">
            <h2>{{ book.title }} <span class="bar-seprator">|</span> {{ book.writer }}
                <hr class="h-divider my-5">
            </h2>
        </div>
    </div>
    <div class="row  justify-content-between ">
        <div class="col-12 col-md-5 p-3 mb-2 text-justify">
            <h4>{{ book.title }} <span class="bar-seprator">|</span> Short Overview</h4>
            <p class="book-description">
                {{ book.short_description }}
            </p>
            <h6 class="book-user">Added by: {{ book.user }} <span class="bar-seprator">|</span> on: {{ book.created_on
                }} </h6>
            <div class="my-3 p-3">
                <div class="row justify-content-center">
                    <div class="col-10 lg-text">
                        <span class="mx-1 px-1 book-reviews"><i class="fa-solid fa-comments mx-2"></i>55</span>
                        <span class="mx-1 px-1 book-likes"><i class="fa-solid fa-heart mx-2"></i>{{ likes }}</span>
                        <span class="mx-1 px-1 book-rating"><i class="fa-solid fa-star mx-2"></i>{{ ratings }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 p-3 mb-2">
            {% if "placeholder" in book.cover_img.url %}
            <img src="{% static 'images/default.jpg' %}" class="my-5" width="100%" height="450"
                alt="{{ book.title }}">
            {% else %}
            <img src="{{ book.cover_img.url }}" class="my-5" width="100%" height="450" alt="{{ book.title }}">
            {% endif %}
         </div>
    </div>
    <div class="row justify-content-between ">
        <div class="col-12 col-md-5 p-3 mb-2 text-justify">
            <h4>About {{ book.writer }} {{ book.id }}</h4>
            <p class="author-biography">
                {{ author_details.short_biography }}
            </p>
            <h6 class="book-user">Added by: {{ author_details.user }} <span class="bar-seprator">|</span> on: {{
                author_details.created_on }} </h6>
        </div>
        <div class="col-12 col-md-5 p-3 mb-2">
            <img src="{{ author_details.author_image.url }}" class="my-5" width="100%" height="600"
                alt="{{ author_details.fullname }}">
        </div>
    </div>
    <hr class="h-divider">
    <div class="row justify-content-between my-5">
        <!-- showing comments -->
        <div class="col-12 col-md-5 p-1 mb-2 text-justify">
            <h3>Insights:</h3>
            <div class="insight-body">
                {% for review in reviews %}
                <div class="p-2 review">
                    {% if review.approved %}
                    <div class="font-weight-bold">
                        {{ review.author }}
                        <br>
                        <span class="font-weight-normal">
                            {{ review.created_on }}
                        </span>
                    </div>
                    <div id="review{{ review.id }}">
                        <p>
                            {{ review.insight | linebreaks }}
                            {{ review.approved }}
                        </p>
                    </div>
                    {% else %}
                    {% if user.is_authenticated and review.author == user %}
                    <div class="wait-approval">
                        <h2>Still not APPROVED</h2>
                        <h3>{{ review.author }}</h3>
                        <h4>{{ review.created_on }}</h4>
                        <p>{{ review.insight | linebreaks }}</p>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% if user.is_authenticated and review.author == user %}
                    <button class="btn btn-delete" review_id="{{ review.id }}">Delete</button>
                    <button class="btn btn-edit" review_id="{{ review.id }}">Edit</button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-5 p-1 mb-2 text-justify">
            <h3>Share your thoughts</h3>
            <div class="review-form my-4 p-2">
                {% if user.is_authenticated %}
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ userReview | crispy }}
                    <a href="{% url 'book_insight' book.slug%}"></a> <button type="submit" value="Submit"
                        class="btn btn-primary">Submit</button>
                </form>
                {% else %}
                <h3>Log in to share your thoughts</h3>
                <br>
                <a href="{% url 'account_login' %}"><button type="button" class="btn btn-primary btn-lg">Log
                        in</button></a>
                {% endif %}
            </div>
        </div>

    </div>

</div>


{% endblock %}