{% extends "root.html" %}
{% load static %}
{% block content %}
<!-- index and landing page starts here -->
<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/sylvia-yang-white-book-shelves.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h2>Add your beloved Author</h2>
        <p>Some representative placeholder content for the second slide.</p>
        <a href="{% url 'add_author' %}"><button type="button" class="btn btn-primary btn-lg">Add your author</button></a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/shiromani-kant-mo3FOTG62ao-unsplash.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h2>What about reading categories?</h2>
        <p>Some representative placeholder content for the third slide.</p>
        <a href="{% url 'add_category' %}"><button type="button" class="btn btn-primary btn-lg">Add a category</button></a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/daria-nepriakhina-books-above-each-other.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h2>Suggest a new book</h2>
        <p>Some representative placeholder content for the first slide.</p>
        <a href="{% url 'add_book' %}"><button type="button" class="btn btn-primary btn-lg suggest-btn">Suggest a book</button></a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<!-- showing the books which are saved in the database -->
<div class="container">
  <div class="row">
    <div class="col my-3">
      <h1 class="book-gallery">Books Gallery</h1>
      <hr class="h-divider">
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for book in book_list %}
    <div class="col">
      <div class="card">
        {% if "placeholder" in book.cover_img.url %}
        <img src="{% static 'images/default.jpg' %}" class="card-img-top" width="125" height="450"
          alt="{{ book.title }}">
        {% else %}
        <img src="{{ book.cover_img.url }}" class="card-img-top" width="150" height="450" alt="{{ book.title }}">
        {% endif %}
        <div class="card-body">
          <h3 class="book-writer">{{ book.writer }}</h3>
          <hr class="h-divider">
          <h3 class="card-title"><a href="{% url 'book_insight' book.slug %}" class="book-link hvr-underline-from-center"> {{ book.title }}</a></h3>
          <h4 class="card-category">{{ book.book_category }}</h4>
          <h6 class="book-user">added by: {{ book.user }}  <span class="bar-seprator">|</span>  on {{ book.created_on }} <i class="fa-solid fa-heart"></i></h6>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% if is_paginated %}
<nav aria-label="Page navigation" class="my-2">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> PREV &laquo;</a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}